<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.megster.cordova.BluetoothSerial"
    version="0.4.3">

    <name>Bluetooth Serial</name>
    <description>Bluetooth Serial Communication Plugin</description>
    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

<!--plugin name="BluetoothPlugin" value="com.phonegap.plugin.bluetooth.BluetoothPlugin"/-->

    <js-module src="www/bluetooth.js" name="BluetoothSerial">
        <clobbers target="window.bluetooth" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="BluetoothSerial">
                <param name="android-package" value="com.megster.cordova.BluetoothSerial"/>
            </feature>
        </config-file>

        <source-file src="src/com/megster/cordova/Bluetooth.java"
            target-dir="src/com/megster/cordova"/>
        <source-file src="src/com/megster/cordova/BluetoothSerial.java"
            target-dir="src/com/megster/cordova"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

</plugin>
